<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Backbone.js" version="1.1.2" targetFramework="net45" />
  <package id="backbone.TypeScript.DefinitelyTyped" version="0.3.9" targetFramework="net45" />
  <package id="jQuery" version="1.7.1" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.8.7" targetFramework="net45" />
  <package id="underscore.js" version="1.5.1" targetFramework="net45" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.4.1" targetFramework="net45" />
</packages>